

 :root {
  --ptifond:#fafbfc;
  --ptifond2: #f1f1f1;
  --ptifond3: #f6f6f6;
  --ptifond4:#d3d2d2; /*contrastLight*/
  --ptitecouleur1:#b3f9fd;
  --ptitecouleur2: #b3c9fd;
  --ptitecouleur3: #9d9bcb;
  --ptigris: #e9e9e9;
  --nb: #000;
  --txt-mini:8px;
  --txt-petit: 10px;
  --text-normal: 14px;
  --txt-medium: 16px;
  --txt-grand: 28px;
  --ouhlapolice: 'Astonia', 'Open Sans';
  --police2: 'Ilyas',  
  --hunter:#758f57;
  --darla:#82aaab;
  --mohan: #ae8ea6;
  --rye: #cc9966;
  --daphne: #AD92B9;
  --degbaz: linear-gradient(279.25turn, #b0642b, #970d4a);
  --degswann: linear-gradient(600.25turn, #8F6892 30%, #d9b349);
  --deghunter:linear-gradient(0.88turn, var(--hunter1) 14%, var(--hunter2) 90%);
  --hunter1:#6684a6;
  --hunter2:#657b4c;
  --inviz:#d3d2d2;
  --amafont1:'Astonia', 'Open Sans';
  --amafont2:'Ilyas';
  --amafont3:"Montserrat", sans-serif;
  --amafont4:"Comforter Brush", cursive;
  --amafont5:"Jacques Francois", serif;
  --cj1:#981a1a; /*couleur templates*/
  --cj2:#3c74b9; /*couleur 2 templates*/
  --cj3:#981a1a; /*couleur templates*/
  --cj4:#3c74b9; /*couleur 2 templates*/
}

[data-color-scheme="dark"] {
  --ptifond4:#202020; /*contrastLight*/
  --nb: #fff;
  --hunter:#85914e;
  --darla:#a5dbe6;
  --mohan: #c09eb7;
  --rye: #cc9966;
 --inviz:#353535;
  --cj1:#981a1a; /*couleur templates*/
  --cj2:#3c74b9; /*couleur 2 templates*/
}

@font-face {font-family: 'Astonia';src: url('http://dl.dropbox.com/s/asg5kkpeayr8nvz/Astonia.otf') format('OpenType');}
@font-face {font-family: 'Banner';src: url('http://dl.dropbox.com/s/38doxtbnrjoefn6rwz9cs/Banner.otf') format('OpenType');}
@font-face {font-family: 'ilyas';src: url('https://dl.dropbox.com/s/yxr2lujd2sqok99/ilyas.woff') format('woff2'),url('https://dl.dropbox.com/s/gzrk131cl4zh06c/ilyas.otf') format('opentype'),url('https://dl.dropbox.com/s/yxr2lujd2sqok99/ilyas.woff') format('woff');}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Grey+Qo&family=Metal+Mania&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Bangers&family=Baskervville+SC&family=Berkshire+Swash&family=Beth+Ellen&family=Black+Han+Sans&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bokor&family=Boogaloo&family=Castoro:ital@0;1&family=Chela+One&family=Comforter+Brush&family=Creepster&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Ewert&family=Fredericka+the+Great&family=Girassol&family=Grey+Qo&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Irish+Grover&family=Jacques+Francois&family=Jolly+Lodger&family=Kings&family=Love+Ya+Like+A+Sister&family=Luckiest+Guy&family=Ma+Shan+Zheng&family=Metal+Mania&family=Nanum+Pen+Script&family=New+Rocker&family=Norican&family=Oranienbaum&family=Paytone+One&family=Pirata+One&family=Princess+Sofia&family=Rammetto+One&family=Rowdies:wght@300;400;700&family=Rye&family=Seaweed+Script&family=Sedgwick+Ave+Display&family=Spicy+Rice&family=Style+Script&family=Uncial+Antiqua&family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Jacques+Francois&family=Oranienbaum&family=Uncial+Antiqua&display=swap');

/*--------- ANIMATIONS ---------------*/

.pulse {animation: pulse-anim 4s infinite;}

@keyframes pulse-anim {
0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 var(--mohan);
}
70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
}
100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);}
} 

/*---------------------------*/

amaterasu {  
  display:block;
  width:550px;
  border-radius:8px;
  border:1.5px solid var(--ptifond4);
  padding: 30px 25px;
  margin: auto;
}

amaterasu hw, temp4 hw {color: var(--hunter);}
amaterasu dsc, temp4 dsc {color: var(--darla);}
amaterasu rh, temp4 rh {color: var(--rye);}
amaterasu ms, temp4 ms {color: var(--mohan);}

amaterasu .untitre {
    color: var(--accent);
    text-align: right;
    text-transform: uppercase;
    display: grid;
    letter-spacing: -2px;
    font: 900 40px/100% 'Arial', sans-serif;
    -webkit-text-stroke: 2px var(--accent);
    color: transparent;
}
    
amaterasu .untitre:after, amaterasu .untitre::after { 
background: var(--deg);
    content: '';
    border-radius: 20px;
    height: 4px;
    margin: 7px 0 0 0;
}

amaterasu .hautrp {
width: 480px;
display: grid!important;
grid-template-columns: 50% 25% 25%;
grid-template-rows: 1fr auto auto;
grid-gap: 10px; 
gap: 10px;
align-items: start;
}

amaterasu .hautrp2 {
width: 480px;
display: grid!important;
grid-template-columns: 50% 25% 25%;
grid-template-rows: 1fr;
grid-gap: 10px; 
gap: 10px;
align-items: start;
}

amaterasu .hautrp3 {
    display: grid !important;
    grid-template-columns: 310px auto auto;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    gap: 10px;
    justify-content: space-between;
    align-items: start;
}

amaterasu .quotinette, .quote3 {  
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    font-size: var(--txt-mini);
    text-transform: uppercase;
    font-family: Open Sans;
    line-height: 12px;
    text-align: justify;
} 

amaterasu .quotinette:after { 
background: var(--neutralDark);
    content: '';
    border-radius: 20px;
    height: 4px;
    margin: -4px 0 0 0;
}

amaterasu .img1 {
    grid-column: 2 / span 1;
    display: flex;
}

amaterasu .img2    { 
    grid-column: 3 / span 1;
    display: flex;
    align-content: center;
}

amaterasu .centh {
    height:100%!important;
} 

amaterasu  .tag { 
grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    text-transform: uppercase;
    font-family: Open Sans;
    line-height: 10px;
    text-align: left;
    font-size: var(--txt-petit);
}

amaterasu  .info { 
grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    text-transform: uppercase;
    font-family: Open Sans;
    line-height: 10px;
    text-align: right;
    font-size: var(--txt-petit);
background-color: var(--ptifond4);
    padding: 4px 8px;
    border-radius: 8px;
display: flex;
justify-content: flex-end;
letter-spacing: 2px;}

amaterasu  .cww { 
grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    text-transform: uppercase;
    font-family: Open Sans;
    line-height: 10px;
    text-align: justify;
font-size: var(--txt-mini);
    display: flex;
        align-items: center;
} 

amaterasu  .cww2, dapne .cww2 { 
    text-transform: uppercase;
    font-family: Open Sans;
    line-height: 10px;
    text-align: justify;
font-size: var(--txt-mini);
    display: flex;
        align-items: center;
        letter-spacing: 2px;
} 

amaterasu .iconz {
width: 100%;
height: 80px;
border-radius: 10px;
object-fit: cover;
} 

amaterasu .iconz3 {
    width: 80px;
    /*height: 115px;*/
    border-radius: 10px;
    object-fit: cover;
}

.creds { 
    text-transform: uppercase;
    font-family: Open Sans;
    line-height: 10px;
    text-align: center;
    font-size: var(--txt-mini);
/*background-color: var(--contrastLight);*/
    padding: 4px 4px;
    border-radius: 8px;
    letter-spacing: 2px;}

amaterasu eg, amaterasu .tag a {text-transform: uppercase;
    font-family: arial black;
    color:var(--accent-dark);
    font-style: italic;
    font-size: var(--txt-petit);
}

amaterasu hr, daphne hr {
    height: 1;
    border: solid var(--ptifond4) 0;
    border-top-width: 1.5px;
    width: 100%;
}

amaterasu i.cp, amaterasu span.cp {
font-size: 24px;
    color: var(--accent);
    border-right: 3px solid;
    padding-right: 20px;}

.cww2 tw {margin-left: 15px;} 

amaterasu .info3 {
    text-transform: uppercase;
    font-family: Open Sans;
    line-height: 10px;
    text-align: right;
    font-size: var(--txt-mini);
    background-color: var(--ptifond4);
    padding: 4px 4px;
    border-radius: 8px;
    margin-top: 10px;
    letter-spacing: 2px;
}

/*-------------- TEMPLATE : DAPHNE -------------------*/

daphne .corps {border-radius:4px;}

daphne c1 {color:var(--daphne);}

.temp_daphne_hautrp {
margin:auto!important;
display:flex;
flex-direction: column;
padding-top: 20px;}

.temp_daphne_titre {font-family: 'ilyas';
text-transform:uppercase;
font-size:40px;
font-weight: 600;
color: var(--nb);
letter-spacing: 2px;
line-height: 0.98em;
margin: 0 auto;
margin-top:10px;
text-align: center;
max-width: 90%;}

daphne .sbt, sbt {background: var(--daphne);
    font-size: var(--txt-mini);
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0px 10px;
    border-radius: 4px;
    line-height: 14px;
    padding-top: 2px;
    width: 70%;
    margin: 2px auto auto auto;}

.temp_daphne_img{
display:flex;
flex-direction: row;
gap: 10px;
    width: 70%;
    margin: 10px auto;}

daphne img {width: 90px;
height: 60px;
border-radius: 4px;
object-fit: cover;}

daphne .middle {width:100%;
height:60px;}

daphne i.cp, daphne span.cp {
font-size: 12px;
    color: var(--daphne);
    padding-right: 6px; 
    margin-top: :10px;}

daphne .cww2 tw {margin-left: 0px;
    margin-top: 10px;
    font-size: var(--txt-mini);
    text-transform: uppercase;
    letter-spacing: 2px;} 

.temp_daphne_cw, .temp_baz_cw { 
    text-transform: uppercase;
    font-family: Open Sans;
    line-height: 10px;
    text-align: justify;
font-size: var(--txt-mini);
    display: flex;
        align-items: center;
        letter-spacing: 2px;
width: 70%;
    margin: auto;
} 

daphne eg {text-transform: uppercase;
    color:var(--daphne);
    font-size: var(--txt-mini);
    font-weight: 800;
}

daphne tag {background: var(--daphne);
    font-size: var(--txt-mini);
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2px 8px;
    border-radius: 4px;
    line-height: 14px;
    padding-top: 4px;
    float: right;
}

daphne tag a {color: #fff!important;}

/*--------- TEMPLATE : BASILE ------------------*/

.bg_corps {border-radius:10px;width: 550px !important;margin: auto;background: var(--neutralDark);padding: 50px;font-size: var(--normal-size);}
.nobg_corps {border-radius:10px;width: 550px !important;margin: auto;padding:20px 50px 0px 50px;font-size: var(--normal-size);}
.temp_baz_img {margin: auto;text-align: center;}
.temp_baz_img img {width: 80px;height: 80px;border-radius: 100%;margin: auto;box-shadow: 0px 0px 10px var(--neutralDarker);object-fit: cover;}
.temp_baz_titre {line-height: 0.98em;margin: 0 auto;text-align: center;max-width: 90%;font-family:"Jacques Francois", serif!important;font-size: 38px!important;
    text-transform: uppercase;font-weight: 800;letter-spacing: -2.5px;background: var(--degbaz);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
baz .sbt, swann .sbt, temp4 .sbt, temp5 .sbt {font-size: var(--txt-mini);font-weight: 800;text-align: center;background: var(--neutralDarker);text-transform: uppercase;letter-spacing: 2px;padding: 2px 10px;border-radius: 4px;line-height: 14px;padding-top: 2px;width: 100%;margin: 6px auto auto auto;font-family: var(--font2);font-style: normal;}
bc {font-family: "Montserrat", sans-serif;font-weight: 800;font-size: 14px;letter-spacing: -1px;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
baz bc {font-family: "Jacques Francois", serif!important;font-weight: 800;font-size: 14px;letter-spacing: -1px;background: var(--degbaz);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
rgh{float:right!important;}
baz .creds, swann .creds, temp4 .creds, temp5 .creds {font-family: var(--font2);font-weight: 800;border-top: 2px solid;color:var(--inviz);border-radius:0px;margin-top: 20px;}
baz .date, swann .date, temp4 .date, temp5 .date {text-align: right;}
baz .temp_baz_cw, swann .temp_baz_cw, temp4 .temp_baz_cw, temp5 .temp_baz_cw {width:100%;font-family: var(--font2);font-weight: 800;}
baz i.cp, baz span.cp {font-size: 16px;padding-right: 6px; margin-top: :10px;background: var(--degbaz);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
baz .nobg_corps a {color:#b0642b;font-weight: 800;font-family: var(--font2);}
.rp_txt::first-letter, baz .rp_txt:first-letter, swann .rp_txt:first-letter {float: left; margin:40px 28px 20px 20px;font-size: 60px!important;font-family:"Montserrat", sans-serif;color:#b0642b;}
baz .rp_txt::first-letter, baz .rp_txt:first-letter {float: left;margin: 40px 28px 20px 20px;font-size: 60px!important;  font-family: "Jacques Francois", serif;color:#b0642b;}
.baz_style_titre {font-size: 38px!important;letter-spacing: -2.5px;  font-family: "Jacques Francois", serif!important;line-height: 1.3em;text-transform:lowercase!important;}

/*--------- TEMPLATE : SWANN ------------------*/
.temp_swann_titre {line-height: 0.98em;margin: 0 auto;text-align: center;max-width: 90%;font-size: 36px!important;    font-weight: 400;
    text-transform: uppercase;font-weight: 600;letter-spacing: -1px;background: var(--degswann);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.swann_style_titre {font-size: 36px!important;letter-spacing: -1.5px;font-family:"Norican", cursive;line-height: 1.3em;text-transform:lowercase!important;font-weight: 400;}
swann .rp_txt::first-letter, swann .rp_txt:first-letter {float: left;margin: 40px 28px 20px 20px;font-size: 60px!important;font-family:"Norican", cursive;color:#8F6892;font-weight: 400;}
swann i.cp, swann span.cp {font-size: 16px;padding-right: 6px; margin-top: :10px;background: var(--degswann);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
swann .nobg_corps a {color:#8F6892;font-weight: 800;font-family: var(--font2);}

/*--------- TEMPLATE : BASILE PUBLIC VERS  ------------------*/

temp4 i.cp, temp4 span.cp {font-size: 16px;padding-right: 6px; margin-top: :10px;-webkit-background-clip:text!important;-webkit-text-fill-color:transparent!important;background:linear-gradient(0.35turn, var(--cj1), var(--cj2));}
temp4 .temp_cappuccicon i.cp, temp4 .temp_cappuccicon span.cp, temp5 .temp_cappuccicon i.cp, temp5 .temp_cappuccicon span.cp {font-size: 26px;margin:auto!important;-webkit-background-clip:text!important;-webkit-text-fill-color:transparent!important;}
temp4 .nobg_corps a, temp4 .bg_corps a, temp5 .nobg_corps a, temp5 .bg_corps a {font-weight: 800;font-family: var(--font2);color:var(--cj1);}
temp4 .nobg_corps, .nobg_corps, temp5 .nobg_corps, .nobg_corps {padding:20px 50px 0px 50px!important;}
.temp4_titre, .temp5_titre {line-height: 0.98em;margin: 0 auto;text-align: center;max-width: 90%;font-family: "Montserrat", sans-serif;font-size: 25px!important;
    text-transform: uppercase;font-weight: 800;letter-spacing: -1px;-webkit-background-clip:text!important;-webkit-text-fill-color:transparent!important;background:linear-gradient(0.88turn, var(--cj1), var(--cj2));}
temp4 .rp_txt:first-letter, temp5 .rp_txt:first-letter {float: left;margin: 30px 20px 30px 20px;font-size: 60px!important;font-family:"Montserrat", sans-serif!important;color:var(--cj1);}
.temp_carres_img {margin: auto;text-align: center;}
.temp_carres_img img {width:68px;height:68px;border-radius: 10%;margin: auto;box-shadow: 0px 0px 10px var(--neutralDarker);object-fit: cover;margin:0px 6px;}
temp4 .temp_cappuccicon, temp5 .temp_cappuccicon {margin:0px auto 20px!important;display:flex;}
temp4 bc {font-family: "Montserrat", sans-serif;font-weight: 800;font-size: 14px;letter-spacing: -1px;-webkit-background-clip:text!important;-webkit-text-fill-color:transparent!important;background:linear-gradient(0.88turn, var(--cj1), var(--cj2));}
temp5 bc, .temp5_titre, temp5 bc {background:linear-gradient(0.88turn, var(--cj3), var(--cj4))!important;}
temp5 .nobg_corps a, temp5 .bg_corps a, temp5 .rp_txt:first-letter {color:var(--cj3)!important;}
temp5 i.cp, temp5 span.cp {font-size: 16px;padding-right: 6px; margin-top: :10px;-webkit-background-clip:text!important;-webkit-text-fill-color:transparent!important;background:linear-gradient(0.35turn, var(--cj3), var(--cj4));}
.temp5_titre {line-height: 0.98em;margin: 0 auto;text-align: center;max-width: 90%;font-family: "Montserrat", sans-serif;font-size: 25px!important;
    text-transform: uppercase;font-weight: 800;letter-spacing: -1px;-webkit-background-clip:text!important;-webkit-text-fill-color:transparent!important;background:linear-gradient(0.88turn, var(--cj3), var(--cj4));}
 temp5 bc {font-family: "Montserrat", sans-serif;font-weight: 800;font-size: 14px;letter-spacing: -1px;-webkit-background-clip:text!important;-webkit-text-fill-color:transparent!important;background:linear-gradient(0.88turn, var(--cj3), var(--cj4));}

/*--------- TEMPLATE : HUNTER ---------*/

hunter i.cp, hunter span.cp {-webkit-background-clip: text; -webkit-text-fill-color: transparent!important; background:var(--deghunter); -webkit-background-clip: text!important;} 
hunter .nobg_corps a, hunter .bg_corps a {color:var(--hunter1);} 
hunter .temp4_titre {-webkit-background-clip: text!important;-webkit-text-fill-color: transparent!important;font-size: 25px !important;margin: 10px auto 0px!important;background:var(--deghunter);-webkit-background-clip: text;-webkit-text-fill-color: transparent;} 
hunter .rp_txt:first-letter {color:var(--hunter2);} 
hunter bc {background: linear-gradient(0.44turn, var(--hunter1) 14%, var(--hunter2) 90%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.temp4_quote {width: 360px;margin: auto;font-size: var(--txt-mini);text-transform: lowercase;line-height: 10px;margin-top: 10px;font-style: italic;}